<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnkiVoice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MicPermissionKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>531D80C52EB42E4100F8A66F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531D80D32EB42E4200F8A66F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531D80DD2EB42E4200F8A66F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531D81E82EB65D0100F8A66F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
